h1 {
	color: white;
	margin-top: 50px;
	text-shadow: 2px 2px #7F7F7F;
}

h2 {
	color: black;
	font-size: 100%;
}

footer {

	position: fixed;
}

li {
	margin: 0 auto;
	vertical-align: center;
	text-align: center;
}

.network-name {
	text-align: center;
}

a {
	vertical-align: center;
}

ul {

}

body {

	text-align: center;

}

img {
	display: inline;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: center;
	text-align: center;
}

