{%extends "templates/bariblitzer.html" %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="static/loginstyle.css">
</head>
    HEY

<body>
<form method="post" name="contact_form"
action="contact-form-handler.php">
    Your Name:
    <input type="text" name="name">
 
    Email Address:
    <input type="text" name="email">
 
    Message:
    <textarea name="message"></textarea>
 
    <input type="submit" value="Submit">
</form>
<script language="JavaScript">
var frmvalidator  = new Validator("contactform");
frmvalidator.addValidation("name","req","Please provide your name");
frmvalidator.addValidation("email","req","Please provide your email");
frmvalidator.addValidation("email","email",
  "Please enter a valid email address");
</script>
</body>








    <!--
    <form method="post">
    <label>Username: <input type = "text" name = "name"></label><br/>
    <label>Password: <input type = "password" name = "password"></label><br/>
        <p><input type="submit"></p>
    </form>
<html>
<body>

<h3>Send e-mail to bariblitzer@gmail.com:</h3>

<form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value="your name"><br>
E-mail:<br>
<input type="text" name="mail" value="your email"><br>
Comment:<br>
<input type="text" name="comment" value="your comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>-->
<!--<body>
	<form action="mailto:bariblitzer@gmail.com" enctype="text/plain" method="post">
	<p>Name: <input name="Name" type="text" id="Name" size="40"></p>
	<p>E-mail address: <input name="E-mail" type="text" id="E-mail" size="40"></p>
	<p>Comment:</p>
	<p><textarea name="Comment" cols="55" rows="5"
	id="Comment"></textarea></p>
	<p><input type="submit" name="Submit" value="Submit"></p>
	</form>
</body>
    {% if error != None %}
        <p>{{error}}</p>
    {% endif %}
{% endblock %} -->




