{%extends "templates/bariblitzer.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="static/homestyle.css">
{% endblock %}

{% block content %}
<div class='container' id='home-background'>
<h1>Bari Blitzer's Portfolio</h1>
<h2>Where the future is happening.</h2>
<h3>I'm currently a sophomore at the University of Michigan. I am enrolled in SI 206, where I learned to make this portfolio. I was just accepted into the School of Information, and hope to enhance my skills in coding.</h3>

		
</div>
{% endblock %} 