{%extends "templates/bariblitzer.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="static/resumestyle.css">
{% endblock %}

{% block content %}
<h1>My Resume</h1>
<h2>I'm currently a sophomore at the University of Michigan. I am enrolled in SI 206, where I learned to make this portfolio. I was just accepted into the School of Information, and hope to enhance my skills in coding.</br>I hope to use these skills and my past resume opportunities to participate in an internship program that consists of programming, and user design anayltics.</h2>
<img src = "static/resume.png" alt = "resume" align="center" width = 500/>
<!--<div class='my_container'>
	<img src = "static/resume.png" alt = "resume" align="center" width = 500/>
</div>-->
 

{% endblock %}

	